<div class="message_content">
<%= (feed.message.nil?) ? autolink_truncate(feed.story) 
                        : autolink_truncate(feed.message) %>
</div>
<% if feed.status_type.nil? %>
  <div class="message_more">
    <%= (feed.link.present?)? link_to(t("show.see_origin"),feed.link,{:target => "_blank"}) : link_to(t("show.see_origin"),"#{ENV['fb_domain']}/#{feed.id}",{:target => "_blank"}) %>
  </div>
<% end %>
