<div class="small-8 columns message">
  <div class="row">
    <div class="large-12 column text-justify">
      <%= (feed.story.nil?)?  autolink_truncate(feed.message.gsub(feed.link,"")) : 
        autolink_truncate(feed.story.gsub(feed.link,""))  %>
    </div>
    <div class="large-12 column">
      <%=link_to feed.name, feed.link , :target => "_blank" %>
    </div>
    <div class="large-12 column">
      <%=image_tag(feed.picture, :class => "message_img") %>
    </div>
  </div>
</div>
