// Place all the styles related to the fbtodays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation/components/grid";
$type-status-bg: #6afbed;
$type-media-bg: #6afb78;
$type-link-bg: #fbd66a;
$type-default-bg: #A2A2A2;

%media-bg {
    background: $type-media-bg !important;
}
%type_all{
  z-index:1;
}
/****** layout (index's) css ******/
.large-6{
    float:left !important;
    font-size:10px;
    background: $type-default-bg;
    .row{
        padding:3px;
        img{
            width:auto;
            max-width:none;
        }
        .message{
            word-wrap: break-word;
        }
        >div{
            margin:3px 0px 0px 0px;
        }
    }
    
}

@media only screen{
    
}
@media only screen and (min-width: 64.063em) {
    .large-4{
        width:33%;
        .content{
            width: 60%;
        }
    }
}
.top-bar-section.left, .top-bar-section.right{
    z-index:2;
    ul li{
        float:left;
    }
}
.top-bar img {padding:3px;height:100%;}
.top-bar-section ul li a{
    padding:10px 15px;
}
.title-area {
    .has-form{
        padding-right:10px;
        input{
            width:99px;
            top:7px;
            display:none;
        }
        img{
            width:99px;
            height:40px;
            display:block;
        }
    }
}
.top-bar-center ul {display: table; margin: 0 auto; width:auto;}
.top-bar-center ul {display: table; margin: 0 auto; width:auto;}
.top-bar-center ul li {display: table-cell;}
#progress{
    position: fixed;
    bottom:0px;
    width:100%;
    img{
        width:100%;
        height:30px;
    }
}

/**** show's css *****/

.message_img {max-width: 100% !important;}
.type_status:after, .type_video:after,
.type_photo:after, .type_swf:after, .type_link:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  right: 10px;
  bottom: 0px;
  z-index: -1;
}
.type_status, .type_video, .type_photo, .type_swf, .type_link{
  @extend %type_all;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}
.type_status:after {
  background: $type-status-bg !important;
}
.type_video:after {
  @extend %media-bg
}
.type_photo:after {
  @extend %media-bg
}
.type_swf:after {
  @extend %media-bg
}
.type_link:after {
  background: $type-link-bg !important;
}
.user {
  .user_profile{
    position: relative;
    img.user_photo{
      @include border-radius(25px);
      display: block;
      width:100%;
    }
    .user_name{
      position: absolute;
      bottom: 0px;
      background-color: black;
      color: white;
      width:100%;
    }
  }
}
